{% extends 'base.html' %}
{% load static %}
{% block title %} Trang chủ {% endblock%}

{% block slick_slider %}
    <div class="slick_slider"> <!--  tin chính -->
       {% for slide in tintucs %}
           <div class="single_iteam">
                <a href="home/{{ slide.id }}"> <img src="{% static slide.Image %}" alt=""></a>
                <div class="slider_article">
                    <h2><a class="slider_tittle" href="home/{{ slide.id }}">{{ slide.Title }}</a></h2>
                    <p>{{ slide.Decriptions }}</p>
                </div>
            </div>
       {% endfor %}
    </div>
{% endblock %}

{% block tinnoibat %}
<div class="latest_post">
    <h2><span> Tin nổi bật </span></h2>
    
        <div class="latest_post_container">
        <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
        <ul class="latest_postnav">
           {% for tinnoibat in tintuc %}
                <li>
                    <div class="media">
                        <a href="#" class="media-left"> <img alt="" src="{% static tinnoibat.Image %}"> </a>
                        <div class="media-body"> <a href="home/{{ tinnoibat.id }}" class="catg_title"> {{ tinnoibat.Title }}</a> </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
    </div>
</div>
{% endblock %}


{% block left_content %}
    <div class="left_content">
    <div class="single_post_content">
        <h2><span>Mới nhất</span></h2>
        <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
                <li>
                        <figure class="bsbig_fig">
                            <a href="home/single_page.html" class="featured_img"> <img alt="" src="{% static tintucs.Image %}"> <span class="overlay"></span> </a>
                            <figcaption> <a href="home/{{ moinhat.id }}">{{ tintucs.Title }}</a> </figcaption>
                            <p>{{ tintucs.Decriptions  }}</p>
                        </figure>
                </li>
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                <li>
                   {% for tinmoi in danhmucs %}
                        <div class="media wow fadeInDown">
                            <a href="home/single_page.html" class="media-left"> <img alt="" src="{% static tinmoi.Image %}"> </a>
                            <div class="media-body"> <a href="home/single_page.html" class="catg_title">{{ tinmoi.Title }}</a> </div>
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>
    
    
    <div class="fashion_technology_area">
        <div class="fashion">
            <div class="single_post_content">
                <h2><span>Công nghệ</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                    <li>
                        <figure class="bsbig_fig">
                            <a href="home/single_page.html" class="featured_img"> <img alt="" src="{% static 'images/galaxy-s8.jpg' %}"> <span class="overlay"></span> </a>
                            <figcaption> <a href="home/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                        </figure>
                    </li>
                </ul>
                {% for congnghe4tin in tins %}
                    <ul class="spost_nav">
                        <li>
                        <div class="media wow fadeInDown">
                            <a href="home/single_page.html" class="media-left"> <img alt="" src="{% static congnghe4tin.image %}"> </a>
                            <div class="media-body"> <a href="home/single_page.html" class="catg_title">{{ congnghe4tin.Tieu_De }}</a> </div>
                        </div>
                    </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        
        
        <div class="technology">
            <div class="single_post_content">
                <h2><span>Lập trình</span></h2>
                <ul class="business_catgnav">
                    <li>
                        <figure class="bsbig_fig wow fadeInDown">
                            <a href="home/single_page.html" class="featured_img"> <img alt="" src="{% static 'images/photo-buld.jpg' %}"> <span class="overlay"></span> </a>
                            <figcaption> <a href="home/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                        </figure>
                    </li>
                </ul>
                <ul class="spost_nav">
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="home/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                            <div class="media-body"> <a href="home/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                            <div class="media-body"> <a href="home/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div class="single_post_content">
        <h2><span>Hình ảnh</span></h2>
        <ul class="photograph_nav  wow fadeInDown">
            {% for img in images %}
                <li>
                    <div class="photo_grid">
                        <figure class="effect-layla">
                            <a class="fancybox-buttons" data-fancybox-group="button" href="{% static img.Image %}" title="{{ img.Title }}"> <img src="{% static img.Image %}" alt="{{ img.url }}" /></a>
                        </figure>
                    </div>
               </li>
            {% endfor %}
        </ul>
    </div>
    
    
    <div class="single_post_content">
        <h2><span>Games</span></h2>
        <div class="single_post_content_left">
            <ul class="business_catgnav">
                <li>
                    <figure class="bsbig_fig  wow fadeInDown">
                        <a class="featured_img" href="home/single_page.html"> <img src="{% static 'images/game.jpg' %}" alt=""> <span class="overlay"></span> </a>
                        <figcaption> <a href="home/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                <li>
                    <div class="media wow fadeInDown">
                        <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                        <div class="media-body"> <a href="home/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="home/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

